{% load static %}
    <!-- JQUERY -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.dataTables.min.js"></script>
    <script src="/static/assets/js/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/jszip.min.js"></script>
    <script src="/static/assets/js/pdfmake.min.js"></script>
    <script src="/static/assets/js/vfs_fonts.js"></script>
    <script src="/static/assets/js/buttons.html5.min.js"></script>
    <script src="/static/assets/js/buttons.print.min.js"></script>

    <!-- CoreUI and necessary plugins-->
    <script src="/static/assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="/static/assets/vendors/@coreui/icons/js/svgxuse.min.js"></script>

    <!-- Select -->
    <script src="/static/assets/js/select2.min.js"></script>