# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
#*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
#package-lock.json
#yarn.lock

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

static/assets/node_modules
static/assets/.temp
