
{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
  
<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-body-secondary">Sign In to your account</p>
              <form action="" method="post">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <div class="text-danger mb-3">{{ error }}</div>
                  {% endfor %}
                {% endif %}

                {% for field in form %}
                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                      </svg>
                    </span>
                    {{ field }}
                  </div>
                {% endfor %}

              <div class="row">
                <div class="col-6">
                  <button class="btn btn-primary px-4" type="submit">Login</button>
                </div>
              </form>
                <div class="col-6 text-end">
                  <a href="{% url "password_reset" %}" class="btn btn-link px-0">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-md-5 text-white bg-primary py-5">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Add your credentias and join the community today.
                </p>
                <a href="{% url 'register' %}" class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
  
 