{% extends 'new/base.html' %}

{% block title %}Pendaftaran User{% endblock  %}

{% block content %}
<div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <form method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">
                    <i class="cil-user"></i></span></div>
                    {{form.username}}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">
                    <i class="cil-envelope-open"></i></span></div>
                    {{form.email}}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">
                    <i class="cil-lock-locked"></i></span></div>
                    {{form.password1}}
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend"><span class="input-group-text">
                    <i class="cil-lock-locked"></i></span></div>
                    {{form.password2}}
              </div>
              <button class="btn btn-block btn-success" type="submit">Create Account</button>
            </div>
            </form>
            {% for message in messages  %}
            <p id="message">{{message}}</p>
            {% endfor %}
            
          </div>
        </div>
        
{% endblock  %}

{% block script %}


<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username'
    form_fields[2].placeholder = 'Email'
    form_fields[3].placeholder = 'Password'
    form_fields[4].placeholder = 'Repeat Password'

    for(var field in form_fields){
        form_fields[field].className += ' form-control'
    }
    
</script>

{% endblock  %}