{% extends 'layouts/base.html' %}

{% block title %}Daftar Pengajuan Klaim JKM{% endblock  %}

{% block style %}{% endblock  %}

{% block content %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table table-responsive-xl">
                        <table class="table table-responsive-sm table-bordered table-striped table-sm" id="tableKlaim">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Klaim</th>
                                    <th>Keterangan</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for data in datas  %}
                                <tr id="{{data.id}}" class="align-middle">
                                    <td>{{forloop.counter}}
                                    <td>

                                    <a href="#" data-id={{data.id}} data-toggle="modal" data-target="#detailModal{{data.id}}" id="dataKlaim">{{data.klaim}}</a></td>
                                    
                                    {% if data.keterangan is None %}
                                    <td></td>
                                    {% else %}
                                    <td>{{data.keterangan}}</td>
                                    {% endif %}
                                    
                                    {% if data.status == 'DALAM PEMERIKSAAN' or data.status == 'Pilih status...' %}
                                        <td><a id="tombol-status" href="#" class="btn btn-info mb-1" data-toggle="modal" data-target="#exampleModal{{data.id}}">{{data.status}}</a></td>
            
                                    {% else %}
                                        <td>{{data.status}}</td>
                                    {% endif %}
                                    
                                </tr>
                                
                                
                                {% endfor %}
                                </tbody>
                        </table>
                    </div>
                    <!-- Modal Approval-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-info">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Approval {{data.klaim.nama}}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            
                            <div class="modal-body">
                            <form id="formApprove" action="" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <select id="status" class="form-select" aria-label="Default select example">
                                    <option selected>Pilih status...</option>
                                    <option value="DALAM PEMERIKSAAN">DALAM PEMERIKSAAN</option>
                                    <option value="DISETUJUI">DISETUJUI</option>
                                    <option value="DITOLAK">DITOLAK</option>
                                    </select>
                                    <div class="form-floating">
                                    <textarea id="keterangan" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">keterangan</label>
                                    </div>
                                <input hidden type="text" id="klaim_id" value="{{data.id}}">
                            </div>
                            <div class="modal-footer">
                                
                                <button id="simpan" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>
                    <!-- MODAL DETAIL -->
                    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-info">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="detailModalLabel">Detail Approval</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Detail Tenaga Kerja - <b></b>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Nama</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 col-form-label">No. KTP/NIK</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 col-form-label">Tempat/Tgl.Lahir</label>
                                                            <div class="col-md-9">
                                                                <p class="form-control-static"></p>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock  %}

{% block javascripts %}
<script>
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    const formApprove = document.getElementById('formApprove')
    const urlHrdKlaim = "{% url 'hrd-klaim' %}"

    const statusBox = document.getElementById('status')
    const keteranganBox = document.getElementById('keterangan')
    const klaimIdBox = document.getElementById('dataKlaim')
    
    const simpanBox = document.getElementById('simpan')

    
    formApprove.addEventListener('submit', e=>{
        e.preventDefault();

        $.ajax({
        type:'POST',
        url:"{% url 'hrd-klaim' %}",
        data:{
            'csrfmiddlewaretoken': csrf[0].value,
            'id':klaimIdBox.getAttribute('data-id'),
            'status': statusBox.value,
            'keterangan': keteranganBox.value
        },
        success: function(response){
            // console.log(response.data)
            //console.log(klaimIdBox.getAttribute('data-id'))
            location.reload();
            formApprove.reset()
        },
        error: function(error){
            console.log(error)
        }
    })


})
</script>

<script>
    const modalID = document.querySelector('div#detailModal')
    const bID = document.querySelectorAll('p.form-control-static')
    const exampleID = document.querySelector('div#exampleModal')
    const exampleLabel = document.querySelector('h5#exampleModalLabel')
    const table = document.getElementById('tableKlaim')
    const cell  = table.getElementsByTagName('td')
    const jml_col = 4


    $(document).ready(function(){
        for ( var i = 1; i<cell.length;i+=2){

        cell[i].onmouseover=function(){
            id = this.parentElement.id
            
            modalID.setAttribute('id',`detailModal${id}`)
            exampleID.setAttribute('id',`exampleModal${id}`)
            // console.log(id)
        
            $.ajax({
                type:'GET',
                url:`/hrd/klaim/${id}/`,
                async:true,
                success: function(response){
                    var items = '';
                    var labels = ['NAMA','NIK','NAMA IBU KANDUNG','STATUS PERNIKAHAN','TEMPAT/TGL.LAHIR','KPJ',
                        'NPP','NAMA REKENING','NO REKENING','NO HP']
                    $.each(response, function(i, item){
                        const tgl = new Date()
                        exampleLabel.innerHTML = "APPROVAL - " + item[0].klaim__nama
                        bID[0].innerHTML = item[0].klaim__nama
                        bID[1].innerHTML = item[0].klaim__nik
                        bID[2].innerHTML = (item[0].klaim__tempat_lahir+"/"+item[0].klaim__tgl_lahir)

                        //var label = "<label class='col-sm-3 col-form-label'>" + item[0].klaim__nama + "</label>"
                        //$('div.form-group.row').append(label)
                        
                    });
                },
                error: function(error){
                    console.log(error)
                }
                })
        }
    }
    });
</script>
{% endblock  %}