{% extends "layouts/base.html" %}

{% block title %} UI Collapse {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="callout callout-info bg-white">CoreUI Collapse has been created as an extension of Bootstrap Collapse. Collapse is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.<br><br>For more information please visit our official
        <a href="https://coreui.io/docs/4.0/components/collapse/" target="_blank">documentation</a>.
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Collapse</strong></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">You can use a link with the <code>href</code> attribute, or a button with the <code>data-coreui-target</code> attribute. In both samples, the <code>data-coreui-toggle="collapse""</code> is required.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-366" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-366" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-366">
                <p><a class="btn btn-primary" data-coreui-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Link with href</a>
                  <button class="btn btn-primary" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Button with data-target</button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card mb-4 card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-366">
                <script class="language-markup" type="text/plain">
                  <p><a class="btn btn-primary" data-coreui-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Link with href</a>
                    <button class="btn btn-primary" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Button with data-target</button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card mb-4 card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Collapse</strong><span class="small ms-1">multiple targets</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">A <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and hide multiple elements by referencing them with a selector in its <code>href</code> or <code>data-coreui-target</code> attribute. Multiple <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and hide an element if they each reference it with their <code>href</code> or <code>data-coreui-target</code> attribute</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-578" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-578" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-578">
                <p><a class="btn btn-primary" data-coreui-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
                  <button class="btn btn-primary" type="button" data-coreui-toggle="collapse" data-coreui-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle second element</button>
                  <button class="btn btn-primary" type="button" data-coreui-toggle="collapse" data-coreui-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                </p>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                      <div class="card mb-4 card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                      <div class="card mb-4 card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-578">
                <script class="language-markup" type="text/plain">
                  <p><a class="btn btn-primary" data-coreui-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
                    <button class="btn btn-primary" type="button" data-coreui-toggle="collapse" data-coreui-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle second element</button>
                    <button class="btn btn-primary" type="button" data-coreui-toggle="collapse" data-coreui-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                  </p>
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card mb-4 card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card mb-4 card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                      </div>
                    </div>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
