{% extends "layouts/base.html" %}

{% block title %} UI Carousel {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="callout callout-info bg-white">CoreUI Carousel has been created as an extension of Bootstrap Carousel. Carousel is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.<br><br>For more information please visit our official
        <a href="https://coreui.io/docs/4.0/components/carousel/" target="_blank">documentation</a>.
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Carousel</strong><span class="small ms-1">Slides only</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">Here’s a carousel with slides. Note the appearance of the <code>.d-block</code> also, <code>.w-100</code> on carousel images to override browser default image alignment.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-849" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-849" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-849">
                <div class="carousel slide" id="carouselExampleSlidesOnly" data-coreui-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#666"></rect>
                        <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item active">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#555"></rect>
                        <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-849">
                <script class="language-markup" type="text/plain">
                  <div class="carousel slide" id="carouselExampleSlidesOnly" data-coreui-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#777"></rect>
                          <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#666"></rect>
                          <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item active">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#555"></rect>
                          <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                        </svg>
                      </div>
                    </div>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Carousel</strong><span class="small ms-1">With controls</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">Adding in the previous and next controls. We recommend using <code> &lt;button&gt;</code> elements, but you can also use <code> &lt;a&gt;</code> elements with <code>role="button"</code>.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-446" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-446" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-446">
                <div class="carousel slide" id="carouselExampleControls" data-coreui-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#666"></rect>
                        <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item active">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#555"></rect>
                        <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                      </svg>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleControls" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleControls" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-446">
                <script class="language-markup" type="text/plain">
                  <div class="carousel slide" id="carouselExampleControls" data-coreui-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#777"></rect>
                          <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#666"></rect>
                          <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item active">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#555"></rect>
                          <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                        </svg>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleControls" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                    <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleControls" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Carousel</strong><span class="small ms-1">With indicators</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">You can attach the indicators to the carousel, lengthwise the controls, too.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1193" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1193" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1193">
                <div class="carousel slide" id="carouselExampleIndicators" data-coreui-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="0" aria-label="Slide 1"></button>
                    <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="1" aria-label="Slide 2"></button>
                    <button class="active" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="2" aria-label="Slide 3" aria-current="true"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#666"></rect>
                        <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item active">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#555"></rect>
                        <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                      </svg>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-1193">
                <script class="language-markup" type="text/plain">
                  <div class="carousel slide" id="carouselExampleIndicators" data-coreui-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="0" aria-label="Slide 1"></button>
                      <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="1" aria-label="Slide 2"></button>
                      <button class="active" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="2" aria-label="Slide 3" aria-current="true"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#777"></rect>
                          <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#666"></rect>
                          <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item active">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#555"></rect>
                          <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                        </svg>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                    <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Carousel</strong><span class="small ms-1">With captions</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">You can add captions to slides with the <code>.carousel-caption</code> element within any <code>.carousel-item</code>. They can be immediately hidden on smaller viewports, as shown below, with optional <a href="https://coreui.io/docs/4.0/utilities/display/">display utilities</a>. We hide them with <code>.d-none</code> and draw them back on medium-sized devices with <code>.d-md-block</code>.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1099" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1099" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1099">
                <div class="carousel slide" id="carouselExampleCaptions" data-coreui-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide-to="0" aria-label="Slide 1"></button>
                    <button type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide-to="1" aria-label="Slide 2"></button>
                    <button class="active" type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide-to="2" aria-label="Slide 3" aria-current="true"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                      </svg>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#666"></rect>
                        <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                      </svg>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item active">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#555"></rect>
                        <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                      </svg>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-1099">
                <script class="language-markup" type="text/plain">
                  <div class="carousel slide" id="carouselExampleCaptions" data-coreui-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide-to="0" aria-label="Slide 1"></button>
                      <button type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide-to="1" aria-label="Slide 2"></button>
                      <button class="active" type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide-to="2" aria-label="Slide 3" aria-current="true"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#777"></rect>
                          <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#666"></rect>
                          <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item active">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#555"></rect>
                          <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                    <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleCaptions" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Carousel</strong><span class="small ms-1">Crossfade</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">Add <code>.carousel-fade</code> to your carousel to animate slides with a fade transition instead of a slide.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1215" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1215" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1215">
                <div class="carousel slide carousel-fade" id="carouselExampleFade" data-coreui-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#666"></rect>
                        <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                      </svg>
                    </div>
                    <div class="carousel-item active">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#555"></rect>
                        <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                      </svg>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleFade" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleFade" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-1215">
                <script class="language-markup" type="text/plain">
                  <div class="carousel slide carousel-fade" id="carouselExampleFade" data-coreui-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#777"></rect>
                          <text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#666"></rect>
                          <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
                        </svg>
                      </div>
                      <div class="carousel-item active">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#555"></rect>
                          <text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
                        </svg>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleFade" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                    <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleFade" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><strong>Carousel</strong><span class="small ms-1">Dark variant</span></div>
        <div class="card-body">
          <p class="text-medium-emphasis small">Add <code>.carousel-dark</code> to the <code>.carousel</code> for darker controls, indicators, and captions. Controls have been inverted from their default white fill with the <code>filter</code> CSS property. Captions and controls have additional Sass variables that customize the <code>color</code> and <code>background-color</code>.</p>
          <div class="example">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-199" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                  </svg>Preview</a></li>
              <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-199" role="tab">
                  <svg class="icon me-2">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                  </svg>Code</a></li>
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-199">
                <div class="carousel carousel-dark slide" id="carouselExampleDark" data-coreui-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="0" aria-label="Slide 1"></button>
                    <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="1" aria-label="Slide 2"></button>
                    <button class="active" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="2" aria-label="Slide 3" aria-current="true"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item" data-coreui-interval="10000">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#f5f5f5"></rect>
                        <text x="50%" y="50%" fill="#aaa" dy=".3em">First slide</text>
                      </svg>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item" data-coreui-interval="2000">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee"></rect>
                        <text x="50%" y="50%" fill="#bbb" dy=".3em">Second slide</text>
                      </svg>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item active">
                      <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#e5e5e5"></rect>
                        <text x="50%" y="50%" fill="#999" dy=".3em">Third slide</text>
                      </svg>
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-199">
                <script class="language-markup" type="text/plain">
                  <div class="carousel carousel-dark slide" id="carouselExampleDark" data-coreui-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="0" aria-label="Slide 1"></button>
                      <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="1" aria-label="Slide 2"></button>
                      <button class="active" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="2" aria-label="Slide 3" aria-current="true"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item" data-coreui-interval="10000">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#f5f5f5"></rect>
                          <text x="50%" y="50%" fill="#aaa" dy=".3em">First slide</text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item" data-coreui-interval="2000">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#eee"></rect>
                          <text x="50%" y="50%" fill="#bbb" dy=".3em">Second slide</text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item active">
                        <svg class="docs-placeholder-img docs-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#e5e5e5"></rect>
                          <text x="50%" y="50%" fill="#999" dy=".3em">Third slide</text>
                        </svg>
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                    <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
