{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

  <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}    

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="row row-cols-2">
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Line Chart
              <div class="float-end"><a href="http://www.chartjs.org" target="_blank">docs</a></div>
            </div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="canvas-1"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Bar Chart
              <div class="float-end"><a href="http://www.chartjs.org" target="_blank">docs</a></div>
            </div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="canvas-2"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Doughnut Chart
              <div class="float-end"><a href="http://www.chartjs.org" target="_blank">docs</a></div>
            </div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="canvas-3"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Radar Chart
              <div class="float-end"><a href="http://www.chartjs.org" target="_blank">docs</a></div>
            </div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="canvas-4"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Pie Chart
              <div class="float-end"><a href="http://www.chartjs.org" target="_blank">docs</a></div>
            </div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="canvas-5"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Polar Area Chart
              <div class="float-end"><a href="http://www.chartjs.org" target="_blank">docs</a></div>
            </div>
            <div class="card-body">
              <div class="c-chart-wrapper">
                <canvas id="canvas-6"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/js/charts.js"></script>
  <script>
  </script>

{% endblock javascripts %}
