{% extends "layouts/base.html" %}

{% block title %} Forms Validation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="callout callout-info bg-white">CoreUI Validation has been created as an extension of Bootstrap Validation. Validation is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.<br><br>For more information please visit our official
        <a href="https://coreui.io/docs/4.0//forms-validation/" target="_blank">documentation</a>.
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Form validation</strong><span class="small ms-1">Custom styles</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">For custom CoreUI for Bootstrap form validation messages, you’ll need to add the <code>novalidate</code> boolean attribute to your <code>&lt;form&gt;</code>. This disables the browser default feedback tooltips, but still provides access to the form validation APIs in JavaScript. Try to submit the form below; our JavaScript will intercept the submit button and relay feedback to you. When attempting to submit, you’ll see the <code>:invalid</code> and <code>:valid</code> styles applied to your form controls.</p>
              <p class="text-medium-emphasis small">Custom feedback styles apply custom colors, borders, focus styles, and background icons to better communicate feedback. Background icons for <code>&lt;select&gt;</code>s are only available with <code>.form-select</code>, and not <code>.form-control</code>.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-773" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-773" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#js-773" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cog"></use>
                      </svg>JavaScript</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-773">
                    <form class="row g-3 needs-validation" novalidate="">
                      <div class="col-md-4">
                        <label class="form-label" for="validationCustom01">First name</label>
                        <input class="form-control" id="validationCustom01" type="text" value="Mark" required="">
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="validationCustom02">Last name</label>
                        <input class="form-control" id="validationCustom02" type="text" value="Otto" required="">
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="validationCustomUsername">Username</label>
                        <div class="input-group has-validation"><span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input class="form-control" id="validationCustomUsername" type="text" aria-describedby="inputGroupPrepend" required="">
                          <div class="invalid-feedback">Please choose a username.</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="validationCustom03">City</label>
                        <input class="form-control" id="validationCustom03" type="text" required="">
                        <div class="invalid-feedback">Please provide a valid city.</div>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="validationCustom04">State</label>
                        <select class="form-select" id="validationCustom04" required="">
                          <option selected="" disabled="" value="">Choose...</option>
                          <option>...</option>
                        </select>
                        <div class="invalid-feedback">Please select a valid state.</div>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="validationCustom05">Zip</label>
                        <input class="form-control" id="validationCustom05" type="text" required="">
                        <div class="invalid-feedback">Please provide a valid zip.</div>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" id="invalidCheck" type="checkbox" required="">
                          <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                          <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-773">
                    <script class="language-markup" type="text/plain">
                      <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-4">
                          <label class="form-label" for="validationCustom01">First name</label>
                          <input class="form-control" id="validationCustom01" type="text" value="Mark" required>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="validationCustom02">Last name</label>
                          <input class="form-control" id="validationCustom02" type="text" value="Otto" required>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="validationCustomUsername">Username</label>
                          <div class="input-group has-validation"><span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input class="form-control" id="validationCustomUsername" type="text" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">Please choose a username.</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="validationCustom03">City</label>
                          <input class="form-control" id="validationCustom03" type="text" required>
                          <div class="invalid-feedback">Please provide a valid city.</div>
                        </div>
                        <div class="col-md-3">
                          <label class="form-label" for="validationCustom04">State</label>
                          <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value>Choose...</option>
                            <option>...</option>
                          </select>
                          <div class="invalid-feedback">Please select a valid state.</div>
                        </div>
                        <div class="col-md-3">
                          <label class="form-label" for="validationCustom05">Zip</label>
                          <input class="form-control" id="validationCustom05" type="text" required>
                          <div class="invalid-feedback">Please provide a valid zip.</div>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" id="invalidCheck" type="checkbox" required>
                            <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                      </form>
                    </script>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="js-773">
                    <script class="language-js" type="text/plain">
                      // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                          'use strict'
                          // Fetch all the forms we want to apply custom Bootstrap validation styles to
                          var forms = document.querySelectorAll('.needs-validation')
                          // Loop over them and prevent submission
                          Array.prototype.slice.call(forms).forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                              if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                              }
                              form.classList.add('was-validated')
                            }, false)
                          })
                        })()
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Form validation</strong><span class="small ms-1">Browser defaults</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">Not interested in custom validation feedback messages or writing JavaScript to change form behaviors? All good, you can use the browser defaults. Try submitting the form below. Depending on your browser and OS, you’ll see a slightly different style of feedback.</p>
              <p class="text-medium-emphasis small">While these feedback styles cannot be styled with CSS, you can still customize the feedback text through JavaScript.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-547" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-547" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-547">
                    <form class="row g-3">
                      <div class="col-md-4">
                        <label class="form-label" for="validationDefault01">First name</label>
                        <input class="form-control" id="validationDefault01" type="text" value="Mark" required="">
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="validationDefault02">Last name</label>
                        <input class="form-control" id="validationDefault02" type="text" value="Otto" required="">
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="validationDefaultUsername">Username</label>
                        <div class="input-group"><span class="input-group-text" id="inputGroupPrepend2">@</span>
                          <input class="form-control" id="validationDefaultUsername" type="text" aria-describedby="inputGroupPrepend2" required="">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="validationDefault03">City</label>
                        <input class="form-control" id="validationDefault03" type="text" required="">
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="validationDefault04">State</label>
                        <select class="form-select" id="validationDefault04" required="">
                          <option selected="" disabled="" value="">Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="validationDefault05">Zip</label>
                        <input class="form-control" id="validationDefault05" type="text" required="">
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" id="invalidCheck2" type="checkbox" required="">
                          <label class="form-check-label" for="invalidCheck2">Agree to terms and conditions</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-547">
                    <script class="language-markup" type="text/plain">
                      <form class="row g-3">
                        <div class="col-md-4">
                          <label class="form-label" for="validationDefault01">First name</label>
                          <input class="form-control" id="validationDefault01" type="text" value="Mark" required>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="validationDefault02">Last name</label>
                          <input class="form-control" id="validationDefault02" type="text" value="Otto" required>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="validationDefaultUsername">Username</label>
                          <div class="input-group"><span class="input-group-text" id="inputGroupPrepend2">@</span>
                            <input class="form-control" id="validationDefaultUsername" type="text" aria-describedby="inputGroupPrepend2" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="validationDefault03">City</label>
                          <input class="form-control" id="validationDefault03" type="text" required>
                        </div>
                        <div class="col-md-3">
                          <label class="form-label" for="validationDefault04">State</label>
                          <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value>Choose...</option>
                            <option>...</option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <label class="form-label" for="validationDefault05">Zip</label>
                          <input class="form-control" id="validationDefault05" type="text" required>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" id="invalidCheck2" type="checkbox" required>
                            <label class="form-check-label" for="invalidCheck2">Agree to terms and conditions</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Form validation</strong><span class="small ms-1">Server side</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">We recommend using client-side validation, but in case you require server-side validation, you can indicate invalid and valid form fields with <code>.is-invalid</code> and <code>.is-valid</code>. Note that <code>.invalid-feedback</code> is also supported with these classes.</p>
              <p class="text-medium-emphasis small">For invalid fields, ensure that the invalid feedback/error message is associated with the relevant form field using <code>aria-describedby</code> (noting that this attribute allows more than one <code>id</code> to be referenced, in case the field already points to additional form text).</p>
              <p class="text-medium-emphasis small">To fix<a href="https://github.com/twbs/bootstrap/issues/25110">issues with border radii</a>, input groups require an additional <code>.has-validation</code> class.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-119" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-119" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-119">
                    <form class="row g-3">
                      <div class="col-md-4">
                        <label class="form-label" for="validationServer01">First name</label>
                        <input class="form-control is-valid" id="validationServer01" type="text" value="Mark" required="">
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="validationServer02">Last name</label>
                        <input class="form-control is-valid" id="validationServer02" type="text" value="Otto" required="">
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="validationServerUsername">Username</label>
                        <div class="input-group has-validation"><span class="input-group-text" id="inputGroupPrepend3">@</span>
                          <input class="form-control is-invalid" id="validationServerUsername" type="text" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required="">
                          <div class="invalid-feedback" id="validationServerUsernameFeedback">Please choose a username.</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="validationServer03">City</label>
                        <input class="form-control is-invalid" id="validationServer03" type="text" aria-describedby="validationServer03Feedback" required="">
                        <div class="invalid-feedback" id="validationServer03Feedback">Please provide a valid city.</div>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="validationServer04">State</label>
                        <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required="">
                          <option selected="" disabled="" value="">Choose...</option>
                          <option>...</option>
                        </select>
                        <div class="invalid-feedback" id="validationServer04Feedback">Please select a valid state.</div>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label" for="validationServer05">Zip</label>
                        <input class="form-control is-invalid" id="validationServer05" type="text" aria-describedby="validationServer05Feedback" required="">
                        <div class="invalid-feedback" id="validationServer05Feedback">Please provide a valid zip.</div>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input is-invalid" id="invalidCheck3" type="checkbox" aria-describedby="invalidCheck3Feedback" required="">
                          <label class="form-check-label" for="invalidCheck3">Agree to terms and conditions</label>
                          <div class="invalid-feedback" id="invalidCheck3Feedback">
                            You must agree before submitting.

                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-119">
                    <script class="language-markup" type="text/plain">
                      <form class="row g-3">
                        <div class="col-md-4">
                          <label class="form-label" for="validationServer01">First name</label>
                          <input class="form-control is-valid" id="validationServer01" type="text" value="Mark" required>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="validationServer02">Last name</label>
                          <input class="form-control is-valid" id="validationServer02" type="text" value="Otto" required>
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="validationServerUsername">Username</label>
                          <div class="input-group has-validation"><span class="input-group-text" id="inputGroupPrepend3">@</span>
                            <input class="form-control is-invalid" id="validationServerUsername" type="text" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                            <div class="invalid-feedback" id="validationServerUsernameFeedback">Please choose a username.</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="validationServer03">City</label>
                          <input class="form-control is-invalid" id="validationServer03" type="text" aria-describedby="validationServer03Feedback" required>
                          <div class="invalid-feedback" id="validationServer03Feedback">Please provide a valid city.</div>
                        </div>
                        <div class="col-md-3">
                          <label class="form-label" for="validationServer04">State</label>
                          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                            <option selected disabled value>Choose...</option>
                            <option>...</option>
                          </select>
                          <div class="invalid-feedback" id="validationServer04Feedback">Please select a valid state.</div>
                        </div>
                        <div class="col-md-3">
                          <label class="form-label" for="validationServer05">Zip</label>
                          <input class="form-control is-invalid" id="validationServer05" type="text" aria-describedby="validationServer05Feedback" required>
                          <div class="invalid-feedback" id="validationServer05Feedback">Please provide a valid zip.</div>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input is-invalid" id="invalidCheck3" type="checkbox" aria-describedby="invalidCheck3Feedback" required>
                            <label class="form-check-label" for="invalidCheck3">Agree to terms and conditions</label>
                            <div class="invalid-feedback" id="invalidCheck3Feedback">
                              You must agree before submitting.
                              
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Form validation</strong><span class="small ms-1">Supported elements</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">Validation styles are available for the following form controls and components:</p>
              <ul>
                <li><code>&lt;input&gt;</code>s and <code>&lt;textarea&gt;</code>s with <code>.form-control</code> (including up to one <code>.form-control</code> in input groups)</li>
                <li><code>&lt;select&gt;</code><code>.form-select</code></li>
                <li><code>.form-check</code>s</li>
              </ul>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-615" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-615" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-615">
                    <form class="was-validated">
                      <div class="mb-3">
                        <label class="form-label" for="validationTextarea">Textarea</label>
                        <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required=""></textarea>
                        <div class="invalid-feedback">Please enter a message in the textarea.</div>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" id="validationFormCheck1" type="checkbox" required="">
                        <label class="form-check-label" for="validationFormCheck1">Check this checkbox</label>
                        <div class="invalid-feedback">Example invalid feedback text</div>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" id="validationFormCheck2" type="radio" name="radio-stacked" required="">
                        <label class="form-check-label" for="validationFormCheck2">Toggle this radio</label>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" id="validationFormCheck3" type="radio" name="radio-stacked" required="">
                        <label class="form-check-label" for="validationFormCheck3">Or toggle this other radio</label>
                        <div class="invalid-feedback">More example invalid feedback text</div>
                      </div>
                      <div class="mb-3">
                        <select class="form-select" required="" aria-label="select example">
                          <option value="">Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <div class="invalid-feedback">Example invalid select feedback</div>
                      </div>
                      <div class="mb-3">
                        <input class="form-control" type="file" aria-label="file example" required="">
                        <div class="invalid-feedback">Example invalid form file feedback</div>
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-primary" type="submit" disabled="">Submit form</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-615">
                    <script class="language-markup" type="text/plain">
                      <form class="was-validated">
                        <div class="mb-3">
                          <label class="form-label" for="validationTextarea">Textarea</label>
                          <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                          <div class="invalid-feedback">Please enter a message in the textarea.</div>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" id="validationFormCheck1" type="checkbox" required>
                          <label class="form-check-label" for="validationFormCheck1">Check this checkbox</label>
                          <div class="invalid-feedback">Example invalid feedback text</div>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" id="validationFormCheck2" type="radio" name="radio-stacked" required>
                          <label class="form-check-label" for="validationFormCheck2">Toggle this radio</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" id="validationFormCheck3" type="radio" name="radio-stacked" required>
                          <label class="form-check-label" for="validationFormCheck3">Or toggle this other radio</label>
                          <div class="invalid-feedback">More example invalid feedback text</div>
                        </div>
                        <div class="mb-3">
                          <select class="form-select" required aria-label="select example">
                            <option value>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                          <div class="invalid-feedback">Example invalid select feedback</div>
                        </div>
                        <div class="mb-3">
                          <input class="form-control" type="file" aria-label="file example" required>
                          <div class="invalid-feedback">Example invalid form file feedback</div>
                        </div>
                        <div class="mb-3">
                          <button class="btn btn-primary" type="submit" disabled>Submit form</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Form validation</strong><span class="small ms-1">Tooltips</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">If your form layout allows it, you can swap the <code>.{valid|invalid}-feedback</code> classes for <code>.{valid|invalid}-tooltip</code> classes to display validation feedback in a styled tooltip. Be sure to have a parent with <code>position: relative</code> on it for tooltip positioning. In the example below, our column classes have this already, but your project may require an alternative setup.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1184" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1184" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1184">
                    <!-- TODO: add javascript-->
                    <form class="row g-3 needs-validation" novalidate="">
                      <div class="col-md-4 position-relative">
                        <label class="form-label" for="validationTooltip01">First name</label>
                        <input class="form-control" id="validationTooltip01" type="text" value="Mark" required="">
                        <div class="valid-tooltip">Looks good!</div>
                      </div>
                      <div class="col-md-4 position-relative">
                        <label class="form-label" for="validationTooltip02">Last name</label>
                        <input class="form-control" id="validationTooltip02" type="text" value="Otto" required="">
                        <div class="valid-tooltip">Looks good!</div>
                      </div>
                      <div class="col-md-4 position-relative">
                        <label class="form-label" for="validationTooltipUsername">Username</label>
                        <div class="input-group has-validation"><span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                          <input class="form-control" id="validationTooltipUsername" type="text" aria-describedby="validationTooltipUsernamePrepend" required="">
                          <div class="invalid-tooltip">Please choose a unique and valid username.</div>
                        </div>
                      </div>
                      <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip03">City</label>
                        <input class="form-control" id="validationTooltip03" type="text" required="">
                        <div class="invalid-tooltip">Please provide a valid city.</div>
                      </div>
                      <div class="col-md-3 position-relative">
                        <label class="form-label" for="validationTooltip04">State</label>
                        <select class="form-select" id="validationTooltip04" required="">
                          <option selected="" disabled="" value="">Choose...</option>
                          <option>...</option>
                        </select>
                        <div class="invalid-tooltip">Please select a valid state.</div>
                      </div>
                      <div class="col-md-3 position-relative">
                        <label class="form-label" for="validationTooltip05">Zip</label>
                        <input class="form-control" id="validationTooltip05" type="text" required="">
                        <div class="invalid-tooltip">Please provide a valid zip.</div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-1184">
                    <script class="language-markup" type="text/plain">
                      <!-- TODO: add javascript-->
                      <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-4 position-relative">
                          <label class="form-label" for="validationTooltip01">First name</label>
                          <input class="form-control" id="validationTooltip01" type="text" value="Mark" required>
                          <div class="valid-tooltip">Looks good!</div>
                        </div>
                        <div class="col-md-4 position-relative">
                          <label class="form-label" for="validationTooltip02">Last name</label>
                          <input class="form-control" id="validationTooltip02" type="text" value="Otto" required>
                          <div class="valid-tooltip">Looks good!</div>
                        </div>
                        <div class="col-md-4 position-relative">
                          <label class="form-label" for="validationTooltipUsername">Username</label>
                          <div class="input-group has-validation"><span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                            <input class="form-control" id="validationTooltipUsername" type="text" aria-describedby="validationTooltipUsernamePrepend" required>
                            <div class="invalid-tooltip">Please choose a unique and valid username.</div>
                          </div>
                        </div>
                        <div class="col-md-6 position-relative">
                          <label class="form-label" for="validationTooltip03">City</label>
                          <input class="form-control" id="validationTooltip03" type="text" required>
                          <div class="invalid-tooltip">Please provide a valid city.</div>
                        </div>
                        <div class="col-md-3 position-relative">
                          <label class="form-label" for="validationTooltip04">State</label>
                          <select class="form-select" id="validationTooltip04" required>
                            <option selected disabled value>Choose...</option>
                            <option>...</option>
                          </select>
                          <div class="invalid-tooltip">Please select a valid state.</div>
                        </div>
                        <div class="col-md-3 position-relative">
                          <label class="form-label" for="validationTooltip05">Zip</label>
                          <input class="form-control" id="validationTooltip05" type="text" required>
                          <div class="invalid-tooltip">Please provide a valid zip.</div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function(form) {
          form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
      })()
    </script>

{% endblock javascripts %}

