{% extends "layouts/base.html" %}

{% block title %} Forms Layout {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="callout callout-info bg-white">CoreUI Layout has been created as an extension of Bootstrap Layout. Layout is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.<br><br>For more information please visit our official
        <a href="https://coreui.io/docs/4.0//forms-layout/" target="_blank">documentation</a>.
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Utilities</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small"><a href="https://coreui.io/docs/4.0/utilities/spacing/">Margin utilities</a> are the easiest way to add some structure to forms. They provide basic grouping of labels, controls, optional form text, and form validation messaging. We recommend sticking to <code>margin-bottom</code> utilities, and using a single direction throughout the form for consistency.</p>
              <p class="text-medium-emphasis small">Feel free to build your forms however you like, with <code>&lt;fieldset&gt;</code>s, <code>&lt;div&gt;</code>s, or nearly any other element.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-817" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-817" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-817">
                    <div class="mb-3">
                      <label class="form-label" for="formGroupExampleInput">Example label</label>
                      <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Example input placeholder">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="formGroupExampleInput2">Another label</label>
                      <input class="form-control" id="formGroupExampleInput2" type="text" placeholder="Another input placeholder">
                    </div>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-817">
                    <script class="language-markup" type="text/plain">
                      <div class="mb-3">
                        <label class="form-label" for="formGroupExampleInput">Example label</label>
                        <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Example input placeholder">
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="formGroupExampleInput2">Another label</label>
                        <input class="form-control" id="formGroupExampleInput2" type="text" placeholder="Another input placeholder">
                      </div>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Grid</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.<strong>Requires the <code>$enable-grid-classes</code> Sass variable to be enabled</strong> (on by default).</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-718" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-718" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-718">
                    <div class="row">
                      <div class="col">
                        <input class="form-control" type="text" placeholder="First name" aria-label="First name">
                      </div>
                      <div class="col">
                        <input class="form-control" type="text" placeholder="Last name" aria-label="Last name">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-718">
                    <script class="language-markup" type="text/plain">
                      <div class="row">
                        <div class="col">
                          <input class="form-control" type="text" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                          <input class="form-control" type="text" placeholder="Last name" aria-label="Last name">
                        </div>
                      </div>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Gutters</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">By adding<a href="https://coreui.io/docs/4.0/layout/gutters/">gutter modifier classes</a>, you can have control over the gutter width in as well the inline as block direction.<strong>Also requires the <code>$enable-grid-classes</code> Sass variable to be enabled</strong> (on by default).</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1210" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1210" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1210">
                    <div class="row g-3">
                      <div class="col">
                        <input class="form-control" type="text" placeholder="First name" aria-label="First name">
                      </div>
                      <div class="col">
                        <input class="form-control" type="text" placeholder="Last name" aria-label="Last name">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-1210">
                    <script class="language-markup" type="text/plain">
                      <div class="row g-3">
                        <div class="col">
                          <input class="form-control" type="text" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                          <input class="form-control" type="text" placeholder="Last name" aria-label="Last name">
                        </div>
                      </div>
                    </script>
                  </div>
                </div>
              </div>
              <p class="text-medium-emphasis small">More complex layouts can also be created with the grid system.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-361" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-361" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-361">
                    <form class="row g-3">
                      <div class="col-md-6">
                        <label class="form-label" for="inputEmail4">Email</label>
                        <input class="form-control" id="inputEmail4" type="email">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="inputPassword4">Password</label>
                        <input class="form-control" id="inputPassword4" type="password">
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="inputAddress">Address</label>
                        <input class="form-control" id="inputAddress" type="text" placeholder="1234 Main St">
                      </div>
                      <div class="col-12">
                        <label class="form-label" for="inputAddress2">Address 2</label>
                        <input class="form-control" id="inputAddress2" type="text" placeholder="Apartment, studio, or floor">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label" for="inputCity">City</label>
                        <input class="form-control" id="inputCity" type="text">
                      </div>
                      <div class="col-md-4">
                        <label class="form-label" for="inputState">State</label>
                        <select class="form-select" id="inputState">
                          <option selected="">Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <label class="form-label" for="inputZip">Zip</label>
                        <input class="form-control" id="inputZip" type="text">
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" id="gridCheck" type="checkbox">
                          <label class="form-check-label" for="gridCheck">Check me out</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Sign in</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-361">
                    <script class="language-markup" type="text/plain">
                      <form class="row g-3">
                        <div class="col-md-6">
                          <label class="form-label" for="inputEmail4">Email</label>
                          <input class="form-control" id="inputEmail4" type="email">
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="inputPassword4">Password</label>
                          <input class="form-control" id="inputPassword4" type="password">
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="inputAddress">Address</label>
                          <input class="form-control" id="inputAddress" type="text" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                          <label class="form-label" for="inputAddress2">Address 2</label>
                          <input class="form-control" id="inputAddress2" type="text" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                          <label class="form-label" for="inputCity">City</label>
                          <input class="form-control" id="inputCity" type="text">
                        </div>
                        <div class="col-md-4">
                          <label class="form-label" for="inputState">State</label>
                          <select class="form-select" id="inputState">
                            <option selected>Choose...</option>
                            <option>...</option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <label class="form-label" for="inputZip">Zip</label>
                          <input class="form-control" id="inputZip" type="text">
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" id="gridCheck" type="checkbox">
                            <label class="form-check-label" for="gridCheck">Check me out</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Sign in</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Horizontal form</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">Create horizontal forms with the grid by adding the <code>.row</code> class to form groups and using the <code>.col-*-*</code> classes to specify the width of your labels and controls. Be sure to add <code>.col-form-label</code> to your <code> &lt;label&gt;</code>s as well so they’re vertically centered with their associated form controls.</p>
              <p class="text-medium-emphasis small">At times, you maybe need to use margin or padding utilities to create that perfect alignment you need. For example, we’ve removed the <code>padding-top</code> on our stacked radio inputs label to better align the text baseline.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-49" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-49" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-49">
                    <form>
                      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="inputEmail3">Email</label>
                        <div class="col-sm-10">
                          <input class="form-control" id="inputEmail3" type="email">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="inputPassword3">Password</label>
                        <div class="col-sm-10">
                          <input class="form-control" id="inputPassword3" type="password">
                        </div>
                      </div>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" id="gridRadios1" type="radio" name="gridRadios" value="option1" checked="">
                            <label class="form-check-label" for="gridRadios1">First radio</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" id="gridRadios2" type="radio" name="gridRadios" value="option2">
                            <label class="form-check-label" for="gridRadios2">Second radio</label>
                          </div>
                          <div class="form-check disabled">
                            <input class="form-check-input" id="gridRadios3" type="radio" name="gridRadios" value="option3" disabled="">
                            <label class="form-check-label" for="gridRadios3">Third disabled radio</label>
                          </div>
                        </div>
                      </fieldset>
                      <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" id="gridCheck1" type="checkbox">
                            <label class="form-check-label" for="gridCheck1">Example checkbox</label>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary" type="submit">Sign in</button>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-49">
                    <script class="language-markup" type="text/plain">
                      <form>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="inputEmail3">Email</label>
                          <div class="col-sm-10">
                            <input class="form-control" id="inputEmail3" type="email">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="inputPassword3">Password</label>
                          <div class="col-sm-10">
                            <input class="form-control" id="inputPassword3" type="password">
                          </div>
                        </div>
                        <fieldset class="row mb-3">
                          <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                          <div class="col-sm-10">
                            <div class="form-check">
                              <input class="form-check-input" id="gridRadios1" type="radio" name="gridRadios" value="option1" checked>
                              <label class="form-check-label" for="gridRadios1">First radio</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" id="gridRadios2" type="radio" name="gridRadios" value="option2">
                              <label class="form-check-label" for="gridRadios2">Second radio</label>
                            </div>
                            <div class="form-check disabled">
                              <input class="form-check-input" id="gridRadios3" type="radio" name="gridRadios" value="option3" disabled>
                              <label class="form-check-label" for="gridRadios3">Third disabled radio</label>
                            </div>
                          </div>
                        </fieldset>
                        <div class="row mb-3">
                          <div class="col-sm-10 offset-sm-2">
                            <div class="form-check">
                              <input class="form-check-input" id="gridCheck1" type="checkbox">
                              <label class="form-check-label" for="gridCheck1">Example checkbox</label>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Sign in</button>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Horizontal form label sizing</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">Be sure to use <code>.col-form-label-sm</code> or <code>.col-form-label-lg</code> to your <code>&lt;label&gt;</code>s or <code> &lt;legend&gt;</code>s to correctly follow the size of <code>.form-control-lg</code> and <code>.form-control-sm</code>.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-496" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-496" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-496">
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Email</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" id="colFormLabelSm" type="email" placeholder="col-form-label-sm">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label" for="colFormLabel">Email</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="colFormLabel" type="email" placeholder="col-form-label">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 col-form-label col-form-label-lg" for="colFormLabelLg">Email</label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-lg" id="colFormLabelLg" type="email" placeholder="col-form-label-lg">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-496">
                    <script class="language-markup" type="text/plain">
                      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Email</label>
                        <div class="col-sm-10">
                          <input class="form-control form-control-sm" id="colFormLabelSm" type="email" placeholder="col-form-label-sm">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="colFormLabel">Email</label>
                        <div class="col-sm-10">
                          <input class="form-control" id="colFormLabel" type="email" placeholder="col-form-label">
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" for="colFormLabelLg">Email</label>
                        <div class="col-sm-10">
                          <input class="form-control form-control-lg" id="colFormLabelLg" type="email" placeholder="col-form-label-lg">
                        </div>
                      </div>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Column sizing</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">As shown in the previous examples, our grid system allows you to place any number of <code>.col</code>s within a <code>.row</code>. They’ll split the available width equally between them. You may also pick a subset of your columns to take up more or less space, while the remaining <code>.col</code>s equally split the rest, with specific column classes like <code>.col-sm-7</code>.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1278" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1278" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1278">
                    <div class="row g-3">
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="City" aria-label="City">
                      </div>
                      <div class="col-sm">
                        <input class="form-control" type="text" placeholder="State" aria-label="State">
                      </div>
                      <div class="col-sm">
                        <input class="form-control" type="text" placeholder="Zip" aria-label="Zip">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-1278">
                    <script class="language-markup" type="text/plain">
                      <div class="row g-3">
                        <div class="col-sm-7">
                          <input class="form-control" type="text" placeholder="City" aria-label="City">
                        </div>
                        <div class="col-sm">
                          <input class="form-control" type="text" placeholder="State" aria-label="State">
                        </div>
                        <div class="col-sm">
                          <input class="form-control" type="text" placeholder="Zip" aria-label="Zip">
                        </div>
                      </div>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Auto-sizing</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">The example below uses a flexbox utility to vertically center the contents and changes <code>.col</code> to <code>.col-auto</code> so that your columns only take up as much space as needed. Put another way, the column sizes itself based on the contents.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-252" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-252" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-252">
                    <form class="row gy-2 gx-3 align-items-center">
                      <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInput">Name</label>
                        <input class="form-control" id="autoSizingInput" type="text" placeholder="Jane Doe">
                      </div>
                      <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                        <div class="input-group">
                          <div class="input-group-text">@</div>
                          <input class="form-control" id="autoSizingInputGroup" type="text" placeholder="Username">
                        </div>
                      </div>
                      <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                        <select class="form-select" id="autoSizingSelect">
                          <option selected="">Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <div class="form-check">
                          <input class="form-check-input" id="autoSizingCheck" type="checkbox">
                          <label class="form-check-label" for="autoSizingCheck">Remember me</label>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-252">
                    <script class="language-markup" type="text/plain">
                      <form class="row gy-2 gx-3 align-items-center">
                        <div class="col-auto">
                          <label class="visually-hidden" for="autoSizingInput">Name</label>
                          <input class="form-control" id="autoSizingInput" type="text" placeholder="Jane Doe">
                        </div>
                        <div class="col-auto">
                          <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                          <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input class="form-control" id="autoSizingInputGroup" type="text" placeholder="Username">
                          </div>
                        </div>
                        <div class="col-auto">
                          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                          <select class="form-select" id="autoSizingSelect">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <div class="form-check">
                            <input class="form-check-input" id="autoSizingCheck" type="checkbox">
                            <label class="form-check-label" for="autoSizingCheck">Remember me</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
              <p class="text-medium-emphasis small">You can then remix that once again with size-specific column classes.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1189" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1189" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1189">
                    <form class="row gx-3 gy-2 align-items-center">
                      <div class="col-sm-3">
                        <label class="visually-hidden" for="specificSizeInputName">Name</label>
                        <input class="form-control" id="specificSizeInputName" type="text" placeholder="Jane Doe">
                      </div>
                      <div class="col-sm-3">
                        <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
                        <div class="input-group">
                          <div class="input-group-text">@</div>
                          <input class="form-control" id="specificSizeInputGroupUsername" type="text" placeholder="Username">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                        <select class="form-select" id="specificSizeSelect">
                          <option selected="">Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="col-auto">
                        <div class="form-check">
                          <input class="form-check-input" id="autoSizingCheck2" type="checkbox">
                          <label class="form-check-label" for="autoSizingCheck2">Remember me</label>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-1189">
                    <script class="language-markup" type="text/plain">
                      <form class="row gx-3 gy-2 align-items-center">
                        <div class="col-sm-3">
                          <label class="visually-hidden" for="specificSizeInputName">Name</label>
                          <input class="form-control" id="specificSizeInputName" type="text" placeholder="Jane Doe">
                        </div>
                        <div class="col-sm-3">
                          <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
                          <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input class="form-control" id="specificSizeInputGroupUsername" type="text" placeholder="Username">
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                          <select class="form-select" id="specificSizeSelect">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <div class="form-check">
                            <input class="form-check-input" id="autoSizingCheck2" type="checkbox">
                            <label class="form-check-label" for="autoSizingCheck2">Remember me</label>
                          </div>
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Forms layout</strong><span class="small ms-1">Inline forms</span></div>
            <div class="card-body">
              <p class="text-medium-emphasis small">Use the <code>.col-auto</code> class to create horizontal layouts. By adding<a href="https://coreui.io/docs/4.0/layout/gutters/">gutter modifier classes</a>, we’ll have gutters in horizontal and vertical directions. The <code>.align-items-center</code> aligns the form elements to the middle, making the <code>.form-checkbox</code> align properly.</p>
              <div class="example">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-391" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                      </svg>Preview</a></li>
                  <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-391" role="tab">
                      <svg class="icon me-2">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                      </svg>Code</a></li>
                </ul>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-391">
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                      <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                          <div class="input-group-text">@</div>
                          <input class="form-control" id="inlineFormInputGroupUsername" type="text" placeholder="Username">
                        </div>
                      </div>
                      <div class="col-12">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref">
                          <option selected="">Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" id="inlineFormCheck" type="checkbox">
                          <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane pt-1" role="tabpanel" id="code-391">
                    <script class="language-markup" type="text/plain">
                      <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                          <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input class="form-control" id="inlineFormInputGroupUsername" type="text" placeholder="Username">
                          </div>
                        </div>
                        <div class="col-12">
                          <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                          <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" id="inlineFormCheck" type="checkbox">
                            <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </form>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
