{% extends "layouts/base.html" %}

{% block title %} Notifications Badge {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="callout callout-info bg-white">CoreUI Badge has been created as an extension of Bootstrap Badge. Badge is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.<br><br>For more information please visit our official
            <a href="https://coreui.io/docs/4.0/components/badge/" target="_blank">documentation</a>.
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header"><strong>Badges</strong></div>
                <div class="card-body">
                  <p class="text-medium-emphasis small">Bootstrap badge scale to suit the size of the parent element by using relative font sizing and <code>em</code> units.</p>
                  <div class="example">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-934" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                          </svg>Preview</a></li>
                      <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-934" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                          </svg>Code</a></li>
                    </ul>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-934">
                        <h1>Example heading<span class="badge bg-secondary">New</span></h1>
                        <h2>Example heading<span class="badge bg-secondary">New</span></h2>
                        <h3>Example heading<span class="badge bg-secondary">New</span></h3>
                        <h4>Example heading<span class="badge bg-secondary">New</span></h4>
                        <h5>Example heading<span class="badge bg-secondary">New</span></h5>
                        <h6>Example heading<span class="badge bg-secondary">New</span></h6>
                      </div>
                      <div class="tab-pane pt-1" role="tabpanel" id="code-934">
                        <script class="language-markup" type="text/plain">
                          <h1>Example heading<span class="badge bg-secondary">New</span></h1>
                          <h2>Example heading<span class="badge bg-secondary">New</span></h2>
                          <h3>Example heading<span class="badge bg-secondary">New</span></h3>
                          <h4>Example heading<span class="badge bg-secondary">New</span></h4>
                          <h5>Example heading<span class="badge bg-secondary">New</span></h5>
                          <h6>Example heading<span class="badge bg-secondary">New</span></h6>
                        </script>
                      </div>
                    </div>
                  </div>
                  <p class="text-medium-emphasis small">Badges can be used as part of links or buttons to provide a counter.</p>
                  <div class="example">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-777" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                          </svg>Preview</a></li>
                      <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-777" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                          </svg>Code</a></li>
                    </ul>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-777">
                        <button class="btn btn-primary" type="button">Notifications<span class="badge bg-secondary">4</span></button>
                      </div>
                      <div class="tab-pane pt-1" role="tabpanel" id="code-777">
                        <script class="language-markup" type="text/plain">
                          <button class="btn btn-primary" type="button">Notifications<span class="badge bg-secondary">4</span></button>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header"><strong>Badges</strong><span class="small ms-1">Contextual variations</span></div>
                <div class="card-body">
                  <p class="text-medium-emphasis small">Add any of the below-mentioned classes to modify the presentation of a badge. Please note that when using Bootstrap’s default <code>.bg-light</code>, you’ll likely need a text color utility like <code>.text-dark</code> for proper styling. This is because background utilities do not set anything but <code>background-color</code>.</p>
                  <div class="example">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1145" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                          </svg>Preview</a></li>
                      <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-1145" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                          </svg>Code</a></li>
                    </ul>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1145"><span class="badge me-1 bg-primary">Primary</span>
                        <span class="badge me-1 bg-secondary">Secondary</span>
                        <span class="badge me-1 bg-success">Success</span>
                        <span class="badge me-1 bg-danger">Danger</span>
                        <span class="badge me-1 bg-warning">Warning</span>
                        <span class="badge me-1 bg-info">Info</span>
                        <span class="badge me-1 bg-light text-dark">Light</span>
                        <span class="badge me-1 bg-dark">Dark</span>
                      </div>
                      <div class="tab-pane pt-1" role="tabpanel" id="code-1145">
                        <script class="language-markup" type="text/plain"><span class="badge me-1 bg-primary">Primary</span>
<span class="badge me-1 bg-secondary">Secondary</span>
<span class="badge me-1 bg-success">Success</span>
<span class="badge me-1 bg-danger">Danger</span>
<span class="badge me-1 bg-warning">Warning</span>
<span class="badge me-1 bg-info">Info</span>
<span class="badge me-1 bg-light text-dark">Light</span>
<span class="badge me-1 bg-dark">Dark</span>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-header"><strong>Badges</strong><span class="small ms-1">Pill badges</span></div>
                <div class="card-body">
                  <p class="text-medium-emphasis small">Apply the <code>.rounded-pill</code> modifier class to make badges rounded.</p>
                  <div class="example">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-929" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                          </svg>Preview</a></li>
                      <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#code-929" role="tab">
                          <svg class="icon me-2">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-code"></use>
                          </svg>Code</a></li>
                    </ul>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-929"><span class="badge me-1 rounded-pill bg-primary">Primary</span>
                        <span class="badge me-1 rounded-pill bg-secondary">Secondary</span>
                        <span class="badge me-1 rounded-pill bg-success">Success</span>
                        <span class="badge me-1 rounded-pill bg-danger">Danger</span>
                        <span class="badge me-1 rounded-pill bg-warning">Warning</span>
                        <span class="badge me-1 rounded-pill bg-info">Info</span>
                        <span class="badge me-1 rounded-pill bg-light text-dark">Light</span>
                        <span class="badge me-1 rounded-pill bg-dark">Dark</span>
                      </div>
                      <div class="tab-pane pt-1" role="tabpanel" id="code-929">
                        <script class="language-markup" type="text/plain"><span class="badge me-1 rounded-pill bg-primary">Primary</span>
<span class="badge me-1 rounded-pill bg-secondary">Secondary</span>
<span class="badge me-1 rounded-pill bg-success">Success</span>
<span class="badge me-1 rounded-pill bg-danger">Danger</span>
<span class="badge me-1 rounded-pill bg-warning">Warning</span>
<span class="badge me-1 rounded-pill bg-info">Info</span>
<span class="badge me-1 rounded-pill bg-light text-dark">Light</span>
<span class="badge me-1 rounded-pill bg-dark">Dark</span>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row-->
        </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
